################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MoneyManagerr/bin/Debug
/MoneyManagerr/obj

